# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

# PyCharm
.idea

# Public assets
src/public

# Bower components
bower_components

# nose coverage
cover/
.coverage

# Project specific
# Bin files
bin/*
!bin/.gitkeep
# Dist files
dist/*
!dist/local.json.dist
!dist/templates
# Log files
log/*
!log/.gitkeep
# Temp fiels
tmp/*
!tmp/.gitkeep
# Pid files
var/run/*
!var/run/.gitkeep
